html, body {
  height: 100%;
  margin: 0;
  padding: 0;
}

.app-container {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

.header {
  width: 100%;
  background: linear-gradient(to top right, #ff6600 0%, #cc33ff 100%);
  color: #fff;
  padding: 20px 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  color: white;
}


.navigation {
  margin-top: 20px;
  display: flex;
}

.shop-label {
  margin: 0 auto; 
  font-size: 100px; 
}

.nav-button {
  padding: 10px 40px;
  margin-right: 50px;
  color: #fff;
  background-color: transparent; 
  border: none;
  border-radius: 5px;
  text-decoration: none;
  transition: all 0.3s ease;
  font-size: 20px;
  flex-direction: column;
  justify-content: center;
}

.nav-button:hover {
  background-color: #fff;
  color: #333;
}

.main-content {
  display: flex;
}

.item-container {
  margin-top: 40px;
  flex: 0.7; /* Adjusted flex to allow space for the shopping cart */
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 10px;
  margin-bottom: 40px;
}

.item-card {
  width: 200px;
  background-color: #fff;
  border: 1px solid #ddd;
  border-radius: 10px;
  padding: 20px;
  text-align: center;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  transition: all 0.3s ease;
}

.item-card:hover {
  transform: translateY(-5px);
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.item-card img {
  width: 100%;
  border-radius: 10px;
}

.item-card button {
  margin-top: 20px;
  background-color: #007bff;
  color: #fff;
  border: none;
  padding: 10px 20px;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.item-card button:hover {
  background-color: #0056b3;
}

.shopping-cart {
  flex: 0.3;
  margin-left: 10px;
  border: 2px solid #ddd;
  border-radius: 10px;
  padding: 20px;
  display: flex;
  flex-direction: column;
}

.cart-items {
  background: linear-gradient(to top right, #ff6600 0%, #cc33ff 100%);
  border: solid blanchedalmond 1px;
  padding: 15px;
  border-radius: 15px;
  margin: 7px;
}

.cart-item {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 5px;
}

.cart-summary {
  margin-top: 10px;
}

.footer {
  width: 100%;
  background: linear-gradient(to top right, #ff6600 0%, #cc33ff 100%);
  color: #fff;
  padding: 20px 0;
  text-align: center;
  margin-top: auto;
}

.cart-item p{
  color: white;
  font-weight: bold;
}

.message-box {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: rgba(0, 0, 0, 0.8);
  color: #fff;
  padding: 20px;
  border-radius: 10px;
  z-index: 9999;
  text-align: center;
}
